@font-face {
	font-family: TradeGothicBold;
	src: url("trade-gothic/Trade Gothic LT Bold.ttf");
}

@font-face {
	font-family: TradeGothicLTLightOblique;
	src: url("trade-gothic/Trade Gothic LT Light Oblique.ttf");
}

@font-face {
	font-family: TradeGothicLTLight;
	src: url("trade-gothic/Trade Gothic LT Light.ttf");
}

@font-face {
	font-family: RobotoRegular;
	src: url("roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: RobotoBold;
	src: url("roboto/Roboto-Bold.ttf");
}

@font-face {
	font-family: SourceSerif;
	src: url("source-serif-pro/SourceSerifPro-Regular.otf");
}


:root {
	font-family: -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
	--brandBlack: #000000;
	--brandWhite: #ffffff;
	--brandGray: #D0D1C9;
	--brandGray70: #4d4d4d;
	--brandGray80: #333333;
	--brandGray90: #191919;
	--brandDarkBlue: #1E3765;
	--brandMedBlue: #007FA3;
	--brandLightBlue: #6FC7EA;
	--brandPurple: #6D247A;
	--brandDarkGreen: #0D534D;
	--brandMedGreen: #00A189;
	--brandLightGreen: #8DBF2E;
	--brandRed: #DC4633; 
	--brandYellow: #F1C500;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: var(--brandWhite);
}

#container {
	display: flex;
}

#panel {
	width: 420px;
	height: 420px;
	height: 100vh;
	overflow: auto;
	/* float: left; */
	background-color: var(--brandWhite); 
	border-right: solid 1px var(--brandGray);
}

#map {
	height: 100vh;
	width: calc(100vw - 420px);
	/* flex-grow: 1; */
	/* float: left; */
	background-color: var(--brandLightBlue); 
}

@media screen and (max-width: 820px) {
	#container {
        flex-direction: column-reverse;
    }
	#map {
		height: 50vh;
		width: 100vw;
	}
	#panel {
		height: calc(50vh - 1px);
		width: 100vw;
		border-top: solid 1px var(--brandGray);
		border-right: none;
	}
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
	font-weight: 600;
	color: #DA291C;
    /* color: var(--brandBlack); */
    text-decoration: none;
    margin-left: 16px;
	margin-bottom: 0px;
	margin-right: 16px;
    padding: 0px;
}

h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
    font-size: 24px;
	color: #2C2A29;
	padding-bottom: 4px;
	border-bottom: solid 2px #DA291C;
    margin-left: 16px;
	margin-right: 16px;
	margin-top: 8px;
    color: var(--brandBlack);
}

h3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
	margin: 16px;
	padding-left: 4px;
    border-left: solid 1.5px #DA291C;
    color: var(--brandBlack);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--brandBlack);
    text-align: left;
    font-size: 16px;
    line-height: 22px;
	margin: 16px;
}


a {
	text-decoration: underline;
	color: var(--brandMedBlue);
}

a:hover {
	color: var(--brandMedGreen);
}
